<!DOCTYPE HTML>
<html>
	<head>
		<title>And Action!</title>
		<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		
			<div id="wrapper">

				
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
							
						</div>
						<div class="content">
							<div class="inner">
								<h1>And Action!</h1>
								<p>A Platform where you can keep a record of all your movies. Create as many libraries as you want and simply add the movies you wish.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#signup">Sign Up</a></li> 
								<li><a href="#signin">Sign In</a></li>
								<!--<li><a href="/static/#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				
					<div id="main">

						
							<article id="signup">
								<h2 class="major">Sign Up</h2>
								<form method="post" action="/signup">
									
										<div class="field half">
    <p>Please fill in this form to create an account.</p>
    
	<label for="name"><b>Name</b></label>
	<input type="text" placeholder="Enter Full name"  name="name" id="name" />

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required> 

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

										</div>
									

									<ul class="actions">
										<li><a href = "confirm.html"><input type="submit" value="Submit" class="primary" /></a></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
							</article>

						
							<article id="signin">
								<h2 class="major">Sign In</h2>
								<form method="post" action="/login">
									<div class="fields">
										<div class="field half">
											<label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required> 

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
										</div>
									</div>
									<ul class="actions">
										<li><a href = "search.html"><input type="submit" value="Login" class="primary" /></li>
									</ul>
								</form>
								
							</article>

						
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Design By Aaksha Dubey</p>
						<a href="https://github.com/aakshadubey/and-action", target="_blank"><p>View on Github</p></a>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
